:root {
    --bg-primary: #567c5f;
    --bg-secondary: #ffc824;
}

nav {
    background-color: var(--bg-primary);
    /*background: #936d5d;*/
    box-shadow: 0px 10px 20px rgba(54, 54, 54, 0.25);
}

.usernameStyle {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.max-size-image {
    max-width: 70%; /* La larghezza massima sarà il 100% del suo contenitore */
    max-height: 400px; /* Altezza massima desiderata */
    height: auto; /* Imposta l'altezza in modo da mantenere le proporzioni originali */
    display: block; /* Imposta la visualizzazione su "block" per gestire margin-auto */
    margin: auto; /* Centra l'immagine orizzontalmente */
}

.no-resize {
    resize: none;
}

.overflow-y-auto {
    overflow-y: auto;
}

.opacity-50 {
    opacity: 0.5;
}

.new-notify {
    background-color: var(--bg-secondary);
}

.smaller-font {
    font-size: 80%;
}

.modal-body-comment {
    height: 60vh;
    overflow-y: auto;
}

.small-date {
    font-size: 70%;
    font-style: italic;
}

.user-comment {
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-right: 7px;
}

.comment-text {
    font-size: 90%;
}

.profileHead{
    font-size: 95%;
    color: #000;
}

.profile-image {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
}

.image-in-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.eliminaPost{
    color:black
}

#commentsList{
    list-style: none;
}

#usersList{
    list-style: none;
}

#EstoteSocialLogo {
    max-height: 30px;
    min-width: 100px;
    height: auto;
}

#commentText {
    resize: vertical;
}

/* Desktop Css */
@media screen and (min-width: 768px) {

    #logoMobile,
    .dividerClass,
    #bell {
        display: none;
    }

    #logoDesktop {
        width: 600px;
    }

    #userName {
        color: rgb(231, 177, 52) !important;
    }

    #addButtonDesktop {
        display: inline-block;
        width: 70%;
    }

    .bi-plus-circle {
        display: none;
    }

    nav>ul>a>li {
        display: inline-block;
        width: 100px;
        padding: 10px;
        text-align: center;
        background-color: dark;
        border-radius: 5px;
    }
}

/* Mobile css */
@media screen and (max-width: 768px) {
    #logoDesktop {
        display: none;
    }

    #logout {
        display: none;
    }

    #userName {
        display: none;
    }

    #addButtonDesktop {
        display: none;
    }

    #sharePost {
        display: none;
    }

    #link {
        text-align: center;
    }

    aside {
        display: none;
    }

    nav>ul>a>li {
        display: inline-block;
        padding: 5px;
        text-align: center;
        background-color: dark;
        border-radius: 5px;
    }
}

/* Tablet css */
@media screen and (max-width: 1028px) {

    #slide_1,
    #slide_5 {
        display: none;
    }

    #day1,
    #day5 {
        display: none;
    }

    #slide_2,
    #slide_3,
    #slide_4 {
        text-align: center;
    }

    #slides {
        align-self: center;
    }

    #day2,
    #day3,
    #day4 {
        width: 30%;
    }

    #prevDay,
    #nextDay {
        width: 5%;
    }
}