:root {
    --bg-primary: #567c5f;
}

nav {
    background-color: var(--bg-primary);
    /*background: #936d5d;*/
    box-shadow: 0px 10px 20px rgba(54, 54, 54, 0.25);
}

.usernameStyle {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.max-size-image {
    max-width: 70%; /* La larghezza massima sarà il 100% del suo contenitore */
    max-height: 400px; /* Altezza massima desiderata */
    height: auto; /* Imposta l'altezza in modo da mantenere le proporzioni originali */
    display: block; /* Imposta la visualizzazione su "block" per gestire il margin-auto */
    margin: auto; /* Centra l'immagine orizzontalmente */
}

#EstoteSocialLogo {
    max-height: 30px;
    min-width: 100px;
    height: auto;
}

.no-resize {
    resize: none;
}

.overflow-y-auto {
    overflow-y: auto;
}

.opacity-50 {
    opacity: 0.5;
}

.smaller-font {
    font-size: 65%;
}